/*
====================================================
||||||Shakti Gurung Custom Style Sheet |||||
====================================================
====================================================
||||||Color Palette|||||
====================================================
light orange: #9F7154;
dark orange:#B55E3A;
white :#DDE1D8;
lightgreen: #8B9A86;
darkgreen:#3D4644;
grey: #686C6E;
lightblue:#54aadd;
darkblue:#191e28;
darkorange:#a9431f;
lightbrown:#b9975a;
white:#f5f7f7;
====================================================
||||||Fonts |||||
====================================================
font-family: 'Pacifico', cursive;
font-family: 'Asap', sans-serif;
font-family: 'Rokkitt', serif;
/*====================================================
||||||Font Imports|||||
====================================================*/
<style>
@import url('https://fonts.googleapis.com/css?family=Asap|Pacifico|Rokkitt');
</style>

/*====================================================
||||||HTML and Body |||||
====================================================
*/
html, body{
    margin:0;
    padding:0;
}
body{
    background-color: #fff;
    color:#3D4644;
    /* background-image: url(images/enlightment.jpg);
    /* opacity: 0.7; */
    background-size:cover;   */
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Asap', sans-serif;
   color:#DDE1D8;
}
h3{
    font-family: 'Rokkitt', serif;
    color:#B55E3A;
    text-align: center;
}
a{
    list-style: none;
    text-decoration: none;
    color: #3D4644;
}
a:hover{
    color: #a9431f;
}
p {
    font-family: 'Rokkitt', serif;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}
.page-wrapper{ 
    margin: auto;
    width: 90%;
    height: 100%;
    align-items: center;
}
header{
    width:100%;
    height:70vh;
    background: url('images/brainstorming-campaig.jpg') no-repeat;
    opacity:0.8; 
    background-size: cover;
}
.intro h1{
    top:0;
    left: 0;
    text-align: center;
    font-family: 'Pacifico', cursive;
    position: relative ;
    background-color: #DDE1D8;
    opacity: 0.7;
    font-size: 4rem;
    color:#a9431f;
    margin-top:0;
    text-shadow: 2px 2px;
}
.intro h2{
    font-family:'Asap', sans-serif;
    font-style:italic;
    text-align: center;
    font-size: 2rem;
    position: relative;
    color:#f5f7f7;
    background-color: #9F7154;
    margin-top: -53px;
    /* opacity:0.9; */
}
.intro h2 abbr{
    color: #3D4644;
    font-weight: 400;
}
.intro{
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    /* background-color: #DDE1D8; */
}
.summary{
    width: 40%;
    height: 100%x;
    margin-top:10px;
    border-radius:10px;
    color: #DDE1D8;
    background-color: #9F7154;
}
.summary p:nth-child(1){
    text-align: center;
    padding: 8px 5px 0 5px;
}
.summary p:nth-child(2){
    text-align: center;
    padding: 0 0 8px 0;
}
.summary a:hover {
    color:#DDE1D8;
}
.preamble{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border-radius: 10px;
    color:#DDE1D8;
    background-color: #9F7154;
    /* background-image: url(images/enlightment.jpg) no-repeat;
    background-size:cover; */
}
.preamble h3:nth-child(1){
    display: inline-block;
    color:#191e28;
    width: 30%;
    text-align:center;
    align-content: center;
    padding: 2px;
    background:#686C6E;
    border-radius: 0 10px 10px 0;   
}
.preamble p:nth-child(2){
    text-align: center;
    color:#DDE1D8;
}
.preamble p:nth-child(3){
    text-align: center;
    color:#DDE1D8;
}
.preamble p:nth-child(4){
    text-align: center;
    color:#DDE1D8;
}
